body {
  margin:0px;
  /* background-color: #282c34; */
}

nav {
  position:sticky;
  top:0px;
  /* z-index:999; */
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:2.8rem;
  background-color:#fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

nav h1 a {
  position:static;
  color: black;
  margin:1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size:1.5rem;
  text-decoration:none;
}

footer {
  /* position: absolute; */
  text-align: center;
  bottom: 0;
  width: 95%;
  height: 2.5rem;
}

nav a{
  position:static;
  color: black;
  margin:1rem;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 600; */
  font-size:1.2rem;
  text-decoration:none;
}

.anchor:hover{
  text-decoration:underline;
}

.content{
  margin:4rem;
}